<div class="card">  
  <div class="card-content">    
    <div class="content">
      <div class="title post-title">Optimizing the performance of my personal website</div>
      
      <div class="post-description">
          My personal website has gone through many iterations of its front-end, more or less 4 of them so far (in less than a year). I find that rebuilding my website gives me a project outside of work to constantly work on... <a href="https://blog.christopherkade.com/web/performance/2018/01/15/optimizing-website/">[Read more]</a>
      </div>        
    </div>
  </div>
</div>