<div class="home container is-fluid">
  <div class="tile is-ancestor">
    
    <div class="tile is-parent is-vertical is-3">
      <article class="tile is-child">
        <app-weather></app-weather>
      </article>
      
      <article class="tile is-child">
        <app-learning></app-learning>
      </article>
    </div>
    
    <div class="tile is-parent">
      <article class="tile is-child is-3">
        <app-post></app-post>
      </article>      
    </div>
    
    <!-- <div class="tile is-parent">
      <article class="tile is-child">
        <app-chart></app-chart>
      </article>
    </div>     -->    
  </div>
</div>